* {
    font-family: 'Ubuntu', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: hsl(0deg 0% 3%);
    /* color: #DD6600; */
    color: hsl(0deg 0% 55%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.backgroundImage {
    position: fixed;
    z-index: -1;
    width: 100vw;
    height: 100vh;

    /*
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px);

    background-color: #ff9d00;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg stroke='%23000' stroke-width='66.7' stroke-opacity='0.05' %3E%3Ccircle fill='%23ff9d00' cx='0' cy='0' r='1800'/%3E%3Ccircle fill='%23fb8d17' cx='0' cy='0' r='1700'/%3E%3Ccircle fill='%23f47d24' cx='0' cy='0' r='1600'/%3E%3Ccircle fill='%23ed6e2d' cx='0' cy='0' r='1500'/%3E%3Ccircle fill='%23e35f34' cx='0' cy='0' r='1400'/%3E%3Ccircle fill='%23d85239' cx='0' cy='0' r='1300'/%3E%3Ccircle fill='%23cc453e' cx='0' cy='0' r='1200'/%3E%3Ccircle fill='%23be3941' cx='0' cy='0' r='1100'/%3E%3Ccircle fill='%23b02f43' cx='0' cy='0' r='1000'/%3E%3Ccircle fill='%23a02644' cx='0' cy='0' r='900'/%3E%3Ccircle fill='%23901e44' cx='0' cy='0' r='800'/%3E%3Ccircle fill='%23801843' cx='0' cy='0' r='700'/%3E%3Ccircle fill='%236f1341' cx='0' cy='0' r='600'/%3E%3Ccircle fill='%235e0f3d' cx='0' cy='0' r='500'/%3E%3Ccircle fill='%234e0c38' cx='0' cy='0' r='400'/%3E%3Ccircle fill='%233e0933' cx='0' cy='0' r='300'/%3E%3Ccircle fill='%232e062c' cx='0' cy='0' r='200'/%3E%3Ccircle fill='%23210024' cx='0' cy='0' r='100'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    */
}

.panel {
    max-width: 850px;
    width: 100%;
    background-color: hsl(0deg 0% 8%);
    display: flex;
    flex-direction: column;
    align-items: center;
}



.input-group-addon {
    background-color: hsl(0deg 0% 8%);
}

.form-control {
    background-color: hsl(0deg 0% 15%);
    color: blanchedalmond;
}

* {
    outline-style: none;
    border: none;
}

.alert {
    background-color: hsl(0deg 0% 15%);
    color: red;
    text-shadow: none;
}

.copyright {
    color: hsl(0deg 0% 25%);
    margin: 20px 0;
}

#progressionChart {
    width: 100%;
    height: 300px;
}

.ct-label {
    color: white;
}

.ct-grid {
    stroke: rgba(255, 255, 255, 0.4);
}