* {
    font-family: 'Ubuntu', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: hsl(0deg 0% 3%);
    /* color: #DD6600; */
    color: hsl(0deg 0% 55%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.backgroundImage {
    position: fixed;
    z-index: -1;
    width: 100vw;
    height: 100vh;

    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);

    background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='250' height='30' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%23222' stroke-width='10' %3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");
}

.panel {
    max-width: 600px;
    width: 100%;
    background-color: hsl(0deg 0% 8%);
    display: flex;
    flex-direction: column;
    align-items: center;
}



.input-group-addon {
    background-color: hsl(0deg 0% 8%);
}

.form-control {
    background-color: hsl(0deg 0% 15%);
    color: blanchedalmond;
}

* {
    outline-style: none;
    border: none;
}

.alert {
    background-color: hsl(0deg 0% 15%);
    color: red;
    text-shadow: none;
}

.copyright {
    color: hsl(0deg 0% 25%);
    margin: 20px 0;
}

#progressionChart {
    width: 100%;
    height: 300px;
}

.ct-label {
    color: white;
}

.ct-grid {
    stroke: rgba(255, 255, 255, 0.4);
}